{{!< layout}}
<div class="aui-group">
  <div class="aui-item">
    <select id="timezone-select" multiple="true">
      {{#each timezones}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
</div>
